<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<!-- Card column -->
<ng-container *transloco="let t">
  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title>{{ t('title.search_', { name }) }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <form class="form-dual">
          <mat-form-field class="input-search" appearance="outline">
            <mat-label>{{ t('label._name', { name }) }}</mat-label>
            <input
              matInput
              [placeholder]="t('label._name', { name })"
              [(ngModel)]="modelName"
              name="modelName"
              [disabled]="modelId.length > 0"
            />
          </mat-form-field>

          <span class="divider">{{ t('text.or') }}</span>

          <mat-form-field class="input-search" appearance="outline">
            <mat-label>{{ t('label._id', { name }) }}</mat-label>
            <input
              matInput
              [(ngModel)]="modelId"
              name="modelId"
              [disabled]="modelName.length > 0"
            />
          </mat-form-field>
        </form>

        <div class="input-button-search">
          <button mat-flat-button (click)="search()">
            {{ t('action.search') }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{
          t('title._search_result_list', { name })
        }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="loading"
        class="progress-bar fixed"
      />
      <table mat-table [dataSource]="dataSource" class="stretch">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>
            {{ t('label._id', { name }) }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ t('label.name') }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="creationTime">
          <th mat-header-cell *matHeaderCellDef>
            {{ t('label.creationTime') }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.register_date | date: 'dd-MMM-yyyy hh:mm' }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>{{ t('label.author') }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.register_user_id }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{ t('label.action') }}</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <mat-spinner
                [diameter]="16"
                class="animate-spin"
                *ngIf="element.isDeployed"
              ></mat-spinner>
              <button
                *ngIf="!element.isDeployed"
                mat-icon-button
                [matTooltip]="t('hint._serve', { name })"
                (click)="modelServe(element)"
              >
                <mat-icon class="icon">play_circle_filled</mat-icon>
              </button>
              <button
                mat-icon-button
                class="primary"
                [matTooltip]="t('hint.open')"
                (click)="open(element)"
              >
                <mat-icon class="icon">open_in_browser</mat-icon>
              </button>
              <button
                mat-icon-button
                [matTooltip]="t('hint.delete')"
                class="delete_button"
                (click)="openModelDialog(element)"
              >
                <mat-icon class="icon">delete_outline</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <ng-template matNoDataRow>
          <tr>
            <td [colSpan]="displayedColumns.length" class="no-data">
              {{ t('message.no_data') }}
            </td>
          </tr>
        </ng-template>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-container>
