@use '@angular/material' as mat;
@import '../../../assets/styles/variable.scss';

.density-settings {
  @include mat.all-component-densities(-3);
}

table {
  width: 100%;
}

.progress-bar {
  height: 1px;
}

.mat-card-dataset {
  display: flex;
  justify-content: center;
  padding: 5px 5px 0;
}

.delete_button {
  color: $danger;
}

.icon {
  font-size: 14px;
}
.form-dual {
  display: flex;
  gap: 8px;
  align-items: center;
  .divider {
    margin-top: -16px;
  }
}
