@use '@angular/material' as mat;
@use '../../../assets/styles/theme/main';
@include mat.core();

.app-searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  --mdc-outlined-text-field-container-shape: 1px;
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;

  &__selector-container {
    .mat-form-field-outline {
      border-radius: 0;
    }
  }
}
