<div class="row">
  <div class="col-12">
    <span class="error" *ngIf="errMsg">{{ errMsg }}</span>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Model Information</mat-card-title>
      </mat-card-header>

      <mat-card-content class="content">
        <div class="box col-12">
          <span class="list-item"> Id: </span>
          <span>{{ modelDetailData?.model_id }}</span>
        </div>

        <div class="box col-12">
          <span class="list-item"> Name: </span>
          <span>{{ modelDetailData?.model_name }}</span>
        </div>

        <div class="box col-12">
          <span class="list-item"> Description: </span>
          <span>{{ modelDetailData?.model_description }}</span>
        </div>

        <div class="box col-12">
          <span class="list-item"> Author: </span>
          <span>{{ modelDetailData?.author }}</span>
        </div>

        <div class="box col-12">
          <span class="list-item"> Creation Time: </span>
          <span>{{ modelDetailData?.register_date }}</span>
        </div>
      </mat-card-content>

      <hr />

      <mat-card-header>
        <mat-card-title>Model Files</mat-card-title>
      </mat-card-header>

      <mat-card-content class="content">
        <div class="col-12" style="display: flex">
          <div class="col-2"></div>

          <div class="density-settings col-6">
            <table
              mat-table
              [dataSource]="modelFileDataSource"
              class="mat-elevation-z0"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Model Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.file_name }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    matTooltip="Open"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon style="font-size: 14px">open_in_browser</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    matTooltip="Download"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon style="font-size: 14px">cloud_download</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <ng-template matNoDataRow
                ><tr>
                  <td [colSpan]="displayedColumns.length" class="no-data">
                    No data...
                  </td>
                </tr></ng-template
              >
            </table>
          </div>

          <div class="col-3"></div>
        </div>
      </mat-card-content>

      <hr />

      <mat-card-header>
        <mat-card-title>Related DataSet Information</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="col-12" style="display: flex">
          <div class="col-2"></div>

          <div class="density-settings col-6">
            <table
              mat-table
              [dataSource]="dataSetDataSource"
              class="mat-elevation-z0"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Model Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dataset_name }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    matTooltip="Open"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon style="font-size: 14px">open_in_browser</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    matTooltip="Download"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon style="font-size: 14px">cloud_download</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <ng-template matNoDataRow
                ><tr>
                  <td [colSpan]="displayedColumns.length" class="no-data">
                    No data...
                  </td>
                </tr></ng-template
              >
            </table>
          </div>

          <div class="col-3"></div>
        </div>
        <hr />
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Related Model Validation Artifacts</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="col-12" style="display: flex">
          <div class="col-2"></div>

          <div class="density-settings table-responsive col-6">
            <table
              mat-table
              [dataSource]="modelValidationTableDataSource"
              class="mat-elevation-z0"
              *ngIf="modelValidationTableDataSource.length > 0"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Validation Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.id }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="dataset_id">
                <th mat-header-cell *matHeaderCellDef>DataSet Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dataset_id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="model_id">
                <th mat-header-cell *matHeaderCellDef>Model Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.model_id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    matTooltip="Open"
                    class="iconbutton"
                    color="primary"
                    (click)="open(element)"
                  >
                    <mat-icon style="font-size: 14px">open_in_browser</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsModelValidationTable"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: displayedColumnsModelValidationTable
                "
              ></tr>
              <ng-template matNoDataRow
                ><tr>
                  <td [colSpan]="displayedColumns.length" class="no-data">
                    No data...
                  </td>
                </tr></ng-template
              >
            </table>
          </div>

          <div class="col-3"></div>
        </div>
        <hr />
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Model Validation Metrics</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="col-12" style="display: flex">
          <div class="density-settings table-responsive">
            <table
              mat-table
              [dataSource]="modelValidationMetricTableDataSource"
              class="mat-elevation-z0"
              *ngIf="modelValidationMetricTableDataSource.length > 0"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.id }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="dataset_id">
                <th mat-header-cell *matHeaderCellDef>DataSet Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dataset_id }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="accuracy_score">
                <th mat-header-cell *matHeaderCellDef>accuracy_score</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.accuracy_score }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="example_count">
                <th mat-header-cell *matHeaderCellDef>example_count</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.example_count }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="f1_score">
                <th mat-header-cell *matHeaderCellDef>f1_score</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.f1_score }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="log_loss">
                <th mat-header-cell *matHeaderCellDef>log_loss</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.log_loss }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="precision_score">
                <th mat-header-cell *matHeaderCellDef>precision_score</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.precision_score }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="recall_score">
                <th mat-header-cell *matHeaderCellDef>recall_score</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.recall_score }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="roc_auc">
                <th mat-header-cell *matHeaderCellDef>roc_auc</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.roc_auc }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef>score</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.score }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="modelValidationMetricTableDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: modelValidationMetricTableDisplayedColumns
                "
              ></tr>
              <ng-template matNoDataRow
                ><tr>
                  <td [colSpan]="displayedColumns.length" class="no-data">
                    No data...
                  </td>
                </tr></ng-template
              >
            </table>
          </div>
        </div>
      </mat-card-content>

      <hr />
      <mat-card-header>
        <mat-card-title>Model Pipeline</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="col-12" style="display: flex">
          <div class="density-settings table-responsive">
            <table
              mat-table
              [dataSource]="modelPipelineTableTableDataSource"
              class="mat-elevation-z0"
              *ngIf="modelPipelineTableTableDataSource.length > 0"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.name }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.description }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | date: 'dd-MMM-yyyy hh:mm' }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsModelPipeLineTable"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: displayedColumnsModelPipeLineTable
                "
              ></tr>
              <ng-template matNoDataRow
                ><tr>
                  <td [colSpan]="displayedColumns.length" class="no-data">
                    No data...
                  </td>
                </tr></ng-template
              >
            </table>
          </div>
        </div>
        <br />
        <div class="col-3">
          <button mat-flat-button color="primary" (click)="back()">
            Back
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
