<div class="table">
  <div class="container scrollbar">
    <table mat-table [dataSource]="dataSource">
      <ng-container
        *ngFor="let col of getColumns(displayedColumns)"
        [matColumnDef]="col"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ 'label.' + col | transloco }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item[col] }}</td>
      </ng-container>

      <ng-container matColumnDef="__validation_artifacts">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'label.__validation_artifacts' | transloco }}
        </th>
        <td mat-cell *matCellDef="let item">
          <div class="artifacts-charts">
            <ng-container
              *ngFor="
                let chart of getArtifactsCharts(item.validation_artifacts)
              "
            >
              <article class="chart">
                <h6>{{ 'label.artifacts.' + chart.name | transloco }}</h6>
                <div>
                  <img
                    class="img"
                    [alt]="chart.name"
                    [src]="buildImgURL(chart.value)"
                  />
                </div>
              </article>
            </ng-container>
          </div>
          <div class="artifacts-csv table">
            <div class="container scrollbar">
              <table
                mat-table
                [dataSource]="artifactsDataSource"
                class="mat-elevation-z0"
                *ngIf="csvData"
              >
                <ng-container
                  *ngFor="let artifactsCol of artifactsDisplayedColumns"
                  [matColumnDef]="artifactsCol"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'label.artifacts.' + artifactsCol | transloco }}
                  </th>
                  <td mat-cell *matCellDef="let artifactsItem">
                    {{ artifactsItem[artifactsCol] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="artifactsDisplayedColumns"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: artifactsDisplayedColumns"
                ></tr>
                <ng-template matNoDataRow
                  ><tr>
                    <td
                      [colSpan]="artifactsDisplayedColumns.length"
                      class="no-data"
                    >
                      No data...
                    </td>
                  </tr></ng-template
                >
              </table>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-template matNoDataRow
        ><tr>
          <td [colSpan]="displayedColumns.length" class="no-data">
            {{ 'message.no_data' | transloco }}
          </td>
        </tr></ng-template
      >
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [length]="pagigation.total"
    [pageSize]="pagigation.limit"
    (page)="search()"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
