@use '@angular/material' as mat;
@use '../../../assets/styles/theme/main';
@include mat.core();

@import '../../../assets/styles/variable.scss';

.table {
  .artifacts {
    &-csv,
    &-charts {
      padding: $p-1;
    }
    &-charts {
      display: flex;
      flex-wrap: wrap;
      gap: $m-1;
      .chart {
        h6 {
          font-size: 12px;
          margin-bottom: $m-0;
        }
        .img {
          width: 400px;
          max-width: 100%;
          display: block;
        }
      }
    }
  }
}
