@use '@angular/material' as mat;
@use '../../../../assets/styles/theme/main';
@include mat.core();

@import '../../../../assets/styles/variable.scss';

.pipeline {
  &-run {
    padding: $p-1;
    border-radius: $br-1;
    background-color: mat.get-theme-color(main.$theme, neutral, 40);
    @include mat.elevation(0);
    cursor: pointer;
    .container {
      display: flex;
      overflow: hidden;
      overflow-x: auto;

      flex-direction: row;
      gap: $m-1;
    }
    &.has {
      &-error {
        h4 {
          color: mat.get-theme-color(main.$theme, error, 40);
        }
      }
    }
    .col {
      display: flex;
      gap: $m-0;
      flex-direction: column;
      &-info {
        border-right: mat.get-theme-color(main.$theme, neutral, 100);
        //width: 40%;
        min-width: 380px;
        &-name {
          flex: 1;
        }
        &-duration {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          gap: $m-004;
          font-size: 14px;
        }
        &-experiment {
          flex: 1;
        }
      }
      &-progress {
        flex: 1;
        padding-top: $p-1;
        .progress {
          display: flex;
          flex-direction: row;
          &-bar {
            display: flex;
            flex-wrap: nowrap;
            background-color: mat.get-theme-color(main.$theme, neutral, 35);
            color: mat.get-theme-color(main.$theme, neutral, 35);
            flex: 1;
            height: 4px;
            &-step {
              position: relative;
              flex: auto;
              min-width: 8em;
              &:before {
                content: '';
                display: block;
                position: absolute;
                border-radius: 100%;
                background-color: mat.get-theme-color(main.$theme, neutral, 35);
                width: 16px;
                height: 16px;
                top: -6px;
                left: -2px;
              }
              &.is {
                &-completed {
                  background-color: mat.get-theme-color(
                    main.$theme,
                    primary,
                    40
                  );
                  color: mat.get-theme-color(main.$theme, primary, 40);
                  &:before {
                    background-color: mat.get-theme-color(
                      main.$theme,
                      primary,
                      40
                    );
                  }
                }
              }
              &.has {
                &-error {
                  background-color: mat.get-theme-color(main.$theme, error, 40);
                  color: mat.get-theme-color(main.$theme, error, 40);
                  &:before {
                    background-color: mat.get-theme-color(
                      main.$theme,
                      error,
                      40
                    );
                  }
                }
              }
              .icon {
                font-size: 20px;
                position: absolute;
                left: -4px;
                top: 12px;
              }
              &-name {
                text-transform: uppercase;
                display: block;
                gap: $m-0;
                font-size: 15px;
                font-weight: 600;
                top: 14px;
                left: 0;
                max-width: 100%;
                padding-left: 20px;
                position: absolute;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    .row {
      display: flex;
      gap: $m-0;
      flex-direction: row;
      align-items: center;
    }
    .label {
      margin-right: $m-004;
      &:after {
        content: ':';
        display: inline;
      }
    }
    .icon {
      @keyframes spin {
        from {
          transform: rotateZ(0deg);
        }
        to {
          transform: rotateZ(360deg);
        }
      }

      &-duration {
        &.anim {
          animation: spin 10s ease-in-out infinite;
        }
      }
    }
  }
}
