<mat-card class="pipeline-run" [ngClass]="{ 'has-error': data?.status?.error }">
  <div class="col col-info">
    <div class="row">
      <div class="col col-info-name">
        <h4>{{ data?.name }}</h4>
      </div>
      <div class="col col-info-timer">
        <mat-icon class="icon-timer"
          ><svg-icon src="/assets/icons/icon-timer.svg" /></mat-icon
        ><span>{{ timer }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-info-experiment">
        <h6>
          <span class="label">Experiment</span
          ><span class="value">{{ data?.experiment }}</span>
        </h6>
        <h6>
          <span class="label">Pipeline version</span
          ><span class="value">{{ data?.version }}</span>
        </h6>
      </div>
    </div>
  </div>
  <div class="col col-progress"></div>
</mat-card>
