<mat-toolbar class="data-header">
  <mat-toolbar-row
    class="row"
    [ngClass]="{ 'flex-end': !tabPanel, 'flex-start': actions.length === 0 }"
  >
    <div *ngIf="tabs.length > 0 && tabPanel" class="col-tabs">
      <app-tabs [items]="tabs" [tabPanel]="tabPanel" />
    </div>
    <div *ngIf="actions.length > 0" class="col-actions scrollbar">
      <app-actions-bar [items]="actions" />
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="hasFilter" class="divider"></mat-toolbar-row>
  <mat-toolbar-row *ngIf="hasFilter" class="row">
    <div class="col-filters">
      <!--
      <app-filters />
      -->
      <app-searcher
        [options]="searchOptions"
        [defaultQuery]="defaultSearchQuery"
        [defaultOptionKey]="defaultSearchOptionKey"
        (updated)="search($event)"
      ></app-searcher>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
