<mat-card class="dialog">
  <mat-card-header class="dialog-header"
    ><h6>{{ title }}</h6></mat-card-header
  >
  <mat-card-content class="dialog-content">
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions align="end" class="dialog-actions">
    <ng-template ngFor let-item [ngForOf]="actions">
      <ng-container [ngSwitch]="item.ui">
        <button
          *ngSwitchCase="'flat'"
          mat-flat-button
          (click)="action(item.type, item.action, item.hasClose)"
          [class]="'action ui-' + item.ui + ' variant-' + item.variant"
        >
          {{ 'action.' + item.type | transloco }}
        </button>
        <button
          *ngSwitchDefault
          mat-button
          (click)="action(item.type, item.action, item.hasClose)"
          [class]="'action ui-' + item.ui + ' variant-' + item.variant"
        >
          {{ 'action.' + item.type | transloco }}
        </button>
      </ng-container>
    </ng-template>
  </mat-card-actions>
</mat-card>
