@use '@angular/material' as mat;
@use '../../../assets/styles/theme/main';
@include mat.core();

@import '../../../assets/styles/variable.scss';

.dialog {
  outline: 0 !important;
  &-header {
    margin-bottom: $m-1;
    h6 {
      font-size: 20px;
      font-weight: 400;

      color: mat.get-theme-color(main.$theme, neutral, 0);
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  &-content {
  }
  &-actions {
    gap: $m-0;
    .variant {
      &-primary {
        @include mat.button-color(main.$theme, $color-variant: primary);
      }
      &-secondary {
        @include mat.button-color(main.$theme, $color-variant: secondary);
      }
      &-tertiary {
        @include mat.button-color(main.$theme, $color-variant: tertiary);
      }
      &-error {
        @include mat.button-color(main.$theme, $color-variant: error);
      }
    }
  }
  .action {
  }
}
