@use '@angular/material' as mat;

.density-settings {
  @include mat.all-component-densities(-3)
}

table {
  width: 100%;
}

.input-search {
  //height: 60px !important;
  margin-left: 25px;
}

.input-button-search {
  margin-left: 25px;
  margin-bottom: 10px;
}


.progress-bar {
  height: 1px
}


.mat-card-model {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-bottom: 0px;
}
