@use "@angular/material" as mat;

.density-settings {
  @include mat.all-component-densities(-3);
}

.content {
  padding: 5px;
}

.title {
  font-size: 12px;
  font-weight: 500;
  padding-right: 10px;
}

.box {
  // display: flex;
  font-size: 12px;
  font-weight: 500;
  justify-content: space-evenly;
}

.list-item {
  min-width: 120px;
  display: inline-block;
}

.error {
  color: red;
}
