<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Search Model Validation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-searcher
          [options]="searchOptions"
          [defaultQuery]="defaultSearchQuery"
          [defaultOptionKey]="defaultSearchOptionKey"
          (updated)="search($event)"
        ></app-searcher>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Model Validation Artifacts</mat-card-title>
      </mat-card-header>
      <mat-card-content class="scrollbar">
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
          class="progress-bar fixed"
        />
        <div class="container scrollbar">
          <table mat-table [dataSource]="dataSource.artifacts">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label._id' | transloco: { name: 'validation' } }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.id }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="dataset_id">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label._id' | transloco: { name: 'dataset' } }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.dataset_id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="model_id">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label._id' | transloco: { name: 'model' } }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.model_id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.action' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  [attr.matTooltip]="'action.open' | transloco"
                  class="iconbutton"
                  color="primary"
                  (click)="open(element)"
                >
                  <mat-icon>open_in_browser</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displyedColumens.artifacts"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displyedColumens.artifacts"
            ></tr>
            <ng-template matNoDataRow
              ><tr>
                <td
                  [colSpan]="displyedColumens.artifacts.length"
                  class="no-data"
                >
                  {{ 'message.no_data' | transloco }}
                </td>
              </tr></ng-template
            >
          </table>
        </div>
        <mat-paginator
          #paginatorArtifacts
          [pageSizeOptions]="pageSizeOptions"
          [length]="pagigation.artifacts.total"
          [pageSize]="pagigation.artifacts.limit"
          (page)="search()"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Model Validation Metrics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
          class="progress-bar fixed"
        />
        <div class="container scrollbar">
          <table mat-table [dataSource]="dataSource.metrics">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.id' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.id }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="dataset_id">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label._id' | transloco: { name: 'dataset' } }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.dataset_id }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="accuracy_score">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.accuracy_score' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.accuracy_score }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="example_count">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.example_count' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.example_count }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="f1_score">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.f1_score' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.f1_score }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="log_loss">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.log_loss' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.log_loss }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="precision_score">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.precision_score' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.precision_score }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="recall_score">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.recall_score' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.recall_score }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="roc_auc">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.roc_auc' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.roc_auc }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.score' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.score }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displyedColumens.metrics"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displyedColumens.metrics"
            ></tr>
            <ng-template matNoDataRow
              ><tr>
                <td [colSpan]="displyedColumens.metrics.length" class="no-data">
                  {{ 'message.no_data' | transloco }}
                </td>
              </tr></ng-template
            >
          </table>
        </div>
        <mat-paginator
          #paginatorMetrics
          [pageSizeOptions]="pageSizeOptions"
          [length]="pagigation.metrics.total"
          [pageSize]="pagigation.metrics.limit"
          (page)="search()"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-3" *ngIf="false">
    <div class="density-settings">
      <div class="density-settings col-3">
        <div class="container scrollbar">
          <table #paginatorScores mat-table [dataSource]="dataSource.scores">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.name' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="tbl-btn">
                  {{ element.name }}
                  <mat-icon inline="true" style="font-size: 12px"
                    >trending_up</mat-icon
                  >
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'label.value' | transloco }}
              </th>
              <td mat-cell *matCellDef="let element">
                <span style="font-size: 12px; font-weight: 500">
                  {{ element.value | number: '1.2' }}
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displyedColumens.scores"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displyedColumens.scores"
            ></tr>
            <ng-template matNoDataRow
              ><tr>
                <td [colSpan]="displyedColumens.scores.length" class="no-data">
                  {{ 'message.no_data' | transloco }}
                </td>
              </tr></ng-template
            >
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
