@use "@angular/material" as mat;

.density-settings {
  @include mat.all-component-densities(-3);
}

.tbl-btn {
  font-size: 12px;
  color: #343dff !important;
  direction: rtl;
}

.img-card {
  max-width: 480px;
  margin-left: 10px;
  margin-top: 10px;
}

.img-container {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.mat-mdc-card-xl-image {
  width: 440px;
  height: 260px;
}

.input-search {
  //height: 60px !important;
  margin-left: 25px;
}

.input-button-search {
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 18px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
