<mat-card>
  <mat-card-header> Confirm Delete Model ? </mat-card-header>
  <mat-card-content>
    <p class="table-text">{{ model.name }}</p>

    <p class="text-danger note">
      Note: it will delete all <strong>pipelines</strong> and unlink
      <strong>datasets</strong> linked to this model
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="deleteModel()" color="warn" mat-button mat-flat-button>
      Ok
    </button>
    <button (click)="closeDialog()" mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>
