<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 p-0 d-flex jc-c align-items-center"
        *ngIf="true" style="background-color: #7460ee; width:32px; height: 32px;line-height:32px;">
  <span style="font-size: small">R</span>
</button>

<mat-menu #profile="matMenu" class="mymegamenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon>
    Profile
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Sign Out
  </button>
</mat-menu>

