@use '@angular/material' as mat;

.model-upload__form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 16px;
  padding-bottom: 8px;
}

.model-upload__button-wrapper {
  display: flex;
  padding-bottom: 8px;
}
