<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="model-upload__header"
          >Upload Model</mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        <app-file-input
          label="Model file"
          (changeEvent)="handleFileInput($event)"
        ></app-file-input>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="file" class="row-2">
      <mat-card-content>
        <form class="row-12 model-upload__form">
          <mat-form-field
            appearance="outline"
            class="col-4"
            style="margin-bottom: 5px"
          >
            <mat-label>User ID</mat-label>
            <input
              matInput
              [(ngModel)]="userId"
              [ngModelOptions]="{ standalone: true }"
              type="text"
            />
            <mat-hint align="start">Insert user ID - temporary</mat-hint>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="col-4"
            style="margin-bottom: 5px"
          >
            <mat-label>Model ID</mat-label>
            <input
              matInput
              [(ngModel)]="modelId"
              [ngModelOptions]="{ standalone: true }"
              type="text"
            />
            <mat-hint align="start">Insert Model ID</mat-hint>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="col-4"
            style="margin-bottom: 5px"
          >
            <mat-label>Model Description</mat-label>
            <input
              matInput
              [(ngModel)]="modelDescription"
              [ngModelOptions]="{ standalone: true }"
              type="text"
            />
            <mat-hint align="start">Insert Model description</mat-hint>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="col-4"
            style="margin-bottom: 5px"
          >
            <mat-label>Model Type</mat-label>
            <input
              matInput
              [(ngModel)]="modelType"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              placeholder="Dataset Type"
            />
            <mat-hint align="start">Insert Model type</mat-hint>
          </mat-form-field>
          <div class="col-1 model-upload__button-wrapper">
            <button mat-flat-button (click)="uploadFile()">
              <span>Upload</span>
            </button>
          </div>
        </form>
        <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
