@use '@angular/material' as mat;

.model-upload__form {
  margin: 4px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.model-upload__button-wrapper {
  display: flex;
  padding-right: 15px;
}
