<div class="row">
  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title class="model-upload__header">
        Upload Model File
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="model-upload__form">
        <app-file-input
          label="Model file"
          (changeEvent)="handleFileInput($event)"
        ></app-file-input>
        <ng-template [ngIf]="file">
          <mat-form-field appearance="outline">
            <mat-label>Model File Description</mat-label>
            <input
              matInput
              [(ngModel)]="modelDescription"
              [ngModelOptions]="{ standalone: true }"
              type="text"
            />
            <mat-hint align="start">Insert Model description</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Model File Type</mat-label>
            <input
              matInput
              [(ngModel)]="modelType"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              placeholder="File Type"
            />
            <mat-hint align="start">Insert Model type</mat-hint>
          </mat-form-field>
          <div class="model-upload__button-wrapper">
            <button mat-flat-button (click)="uploadFile()" [disabled]="loading">
              <span>Upload</span>
            </button>
          </div>
        </ng-template>
      </form>
      <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading" />
    </mat-card-content>
  </mat-card>
</div>
