@use '@angular/material' as mat;

.model-upload__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.model-upload__button-wrapper {
  display: flex;
  padding-right: 15px;
}
