<mat-toolbar class="main-toolbar mat-accent">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">
      <!-- Logo icon -->
      <img src="assets/images/logo-cog.png" class="logo" alt="homepage" />
      <img src="assets/images/hiro-logo.svg" class="logo" alt="homepage" />
      <!--End Logo icon -->
    </a>
  </div>
  <app-user-toolbar></app-user-toolbar>
</mat-toolbar>
<mat-sidenav-container class="main-container">
  <mat-sidenav
    class="main-sidebar"
    [mode]="!mobileQuery.matches ? 'side' : 'over'"
    fixedTopGap="0"
    [opened]="isSidebarOpen"
    [disableClose]="!mobileQuery.matches"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="main-content scrollbar">
    <div class="container">
      <router-outlet>
        <app-spinner></app-spinner>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
