@use '@angular/material' as mat;
@use '../../../assets/styles/theme/main';
@include mat.core();
@import '../../../assets/styles/variable';
@import '../../../assets/styles/responsive';

.main {
  &-toolbar.mat-toolbar {
    height: $main-toolbar-height;
    background-color: mat.get-theme-color(main.$theme, neutral, 0);
    button {
      color: mat.get-theme-color(main.$theme, neutral, 100);
    }
    .navbar {
      &-brand {
        display: flex;
        height: 80px;
        gap: 24px;
        padding-left: 16px;
      }
      &-header {
        flex: auto;
      }
    }
    .logo {
      max-height: 100%;
      max-width: 128px;
    }
  }
  &-sidebar {
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }
  &-container {
    height: calc(100vh - $main-toolbar-height);
    --mat-sidenav-container-width: 320px;
  }
  &-content {
    padding: 16px;
    background-color: mat.get-theme-color(main.$theme, neutral, 40);
  }
}

::ng-deep {
  .main {
    &-toolbar.mat-toolbar {
      button.mdc-icon-button {
        color: mat.get-theme-color(main.$theme, neutral, 100);
      }
    }
  }
}
