<div class="dialog-container">
  <h2 mat-dialog-title>Serve Model</h2>
  <mat-dialog-content>
    <p>
      To serve model {{ model.name }} version {{ model.version }}, enter unique
      Model InferenceService name
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Model isvc name</mat-label>
      <input
        matInput
        placeholder="InferenceService"
        [(ngModel)]="modelIsvcName"
        name="isvc name"
        required
        minlength="2"
        #model_isvc="ngModel"
      />
      <mat-hint>Enter at least 2 characters</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <div align="end" class="pt-3" mat-dialog-actions>
    <button
      [disabled]="model_isvc.invalid"
      (click)="serveModel()"
      color="warn"
      mat-button
      mat-flat-button
    >
      Ok
    </button>

    <button mat-dialog-close mat-button>Cancel</button>
  </div>
</div>
