/*******************
 Topbar
*******************/
mat-toolbar {
  &.topbar {
    padding: 0px 28px;
    height: 105px;
  }
  .navbar-header {
    text-align: center;

    .navbar-brand {
      display: flex;
      line-height: 18px;
      align-items: center;
      gap: 36px;
      .logo {
        max-height: 80px;
      }
    }
  }
}
/*******************
   Topbar
  *******************/
.topbar {
  position: relative;
  z-index: 2;
}
