/*******************
Main sidebar
******************/

mat-sidenav {
  width: 280px;
  padding-top: 0px;
}

#snav {
  .menu-list {
    .mat-mdc-list-item {
      margin-bottom: 19px;
      border-radius: 0;
      .mdc-list-item__content {
        a {
          color: $secondary;
          padding: 19px 54px;
          display: block;
          display: flex;
          font-weight: 600;
          .icon {
            color: $secondary;
            margin-right: 19px;
          }
        }
      }
      &.selected {
        .mdc-list-item__content {
          a {
            border-radius: 0;
            background-color: $primary;
            color: $primary-contrast;
            .icon {
              color: $primary-contrast;
            }
          }
        }
      }
    }
  }
}

#scontainer {
  background-color: $bodycolor;
}
