@use '@angular/material' as mat;
@use './theme/main';
@include mat.core();
/* ---------------------------------------------
Author: Rahul Sharma
Email: rahul.sharma@hiro-microdatacenters.nl
File: scss
/* --------------------------------------------- */
/*
@import 'variable';

@import 'mixins/spacing';
@import 'mixins/color';
@import 'mixins/font';

@import 'grid/grid';

@import 'component/global';
@import 'component/heading';

@import 'component/header';
@import 'component/sidebar';
@import 'component/spinner';
@import 'component/card';
@import 'component/dashboard';

@import 'responsive';

@import '../styles/icons/material-design-iconic-font/css/materialdesignicons.min.css';
*/
html {
  @include mat.all-component-themes(main.$theme);
}
body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  .mat-mdc-card {
    margin-bottom: 8px;
  }
}

.mat {
  &-mdc {
    &-card {
      &-header {
        margin-bottom: 8px;
        .mat-mdc-card-title {
          font-size: 16px;
        }
      }
    }
    &-table {
      .no-data {
        text-align: center;
        color: mat.get-theme-color(main.$theme, neutral, 50);
      }
    }
  }
}

.fixed {
  &.progress-bar {
    position: fixed;
  }
}
.stretch {
  width: 100%;
}
