@use '@angular/material' as mat;
@use './theme/main';
@include mat.core();

/* ---------------------------------------------
Author: Rahul Sharma
Email: rahul.sharma@hiro-microdatacenters.nl
File: scss
/* --------------------------------------------- */

@import 'variable';

@import 'mixins/spacing';
@import 'mixins/color';
@import 'mixins/font';

@import 'grid/grid';
@import 'responsive';
/*
@import 'component/global';
@import 'component/heading';

@import 'component/header';
@import 'component/sidebar';
@import 'component/spinner';
@import 'component/card';
@import 'component/dashboard';



@import '../styles/icons/material-design-iconic-font/css/materialdesignicons.min.css';
*/
html {
  @include mat.all-component-themes(main.$theme);
}
body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  .mat-mdc-card {
    margin-bottom: 8px;
  }
}

.mat {
  &-mdc {
    &-card {
      &-header {
        margin-bottom: 8px;
        .mat-mdc-card-title {
          font-size: 16px;
        }
      }
    }
  }
}

// Custom tiny scrollbar
.scrollbar {
  padding: 2px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: mat.get-theme-color(main.$theme, neutral, 40);
  }
  &::-webkit-scrollbar-thumb {
    background: mat.get-theme-color(main.$theme, neutral, 80);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: mat.get-theme-color(main.$theme, primary, 40);
  }
}
// Typo
h {
  &1,
  &2,
  &3,
  &4,
  &5,
  &6 {
    white-space: normal;
    margin: 0;
  }
  &3 {
    font-size: 20px;
    font-weight: 600;
  }
  &4 {
    font-size: 14px;
    font-weight: 600;
  }
  &6 {
    font-size: 14px;
    font-weight: 400;
  }
}

// Utils
.flex {
  &-end {
    justify-content: flex-end;
    align-items: flex-end;
  }
  &-start {
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-space {
    &-between {
      justify-content: space-between;
    }
  }
}
