@use '@angular/material' as mat;
@use '../../../../assets/styles/theme/main';
@include mat.core();

@import '../../../../assets/styles/variable.scss';

.pipeline {
  &-run-output {
    .info {
      padding: $p-1;
      border-radius: $br-1;
      background-color: mat.get-theme-color(main.$theme, neutral, 40);
      @include mat.elevation(0);
      .tabs {
        .tab {
          &-content {
            padding-top: $p-1;
          }
        }
      }
    }

    .link {
      &-list {
        .item {
          transition: background-color 0.4s;
          cursor: pointer;
          p {
            transition: color 0.4s;
          }
          &:hover {
            p {
              color: mat.get-theme-color(main.$theme, primary, 40);
            }
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    .status {
      .row {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        gap: $m-0;
      }
      .col {
        &-duration {
          flex: 1;
          text-align: center;
        }
        &-datetime {
          &-title {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: $m-1;
            h3 {
              margin-bottom: $m-1;
            }
            .mark {
              content: '';
              width: 30px;
              height: 30px;
              display: block;
              border-radius: 100%;
              background-color: mat.get-theme-color(main.$theme, primary, 40);
            }
          }
        }
      }
    }

    .duration {
      &-bar {
        height: 7px;
        background-color: mat.get-theme-color(main.$theme, neutral, 35);
        margin-left: -4em;
        margin-right: -5em;
        margin-top: 54px;
      }
    }

    .progress {
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
      margin-bottom: 40px;
      margin-top: 72px;
      &-container {
        overflow: hidden;
        overflow-x: auto;
        margin-bottom: $m-0;
      }
      &-bar {
        display: flex;
        flex-wrap: nowrap;
        background-color: mat.get-theme-color(main.$theme, neutral, 35);
        color: mat.get-theme-color(main.$theme, neutral, 35);
        flex: 1;
        height: 4px;
        &-step {
          position: relative;
          flex: auto;
          min-width: 8em;
          &:before {
            content: '';
            display: block;
            position: absolute;
            border-radius: 100%;
            background-color: mat.get-theme-color(main.$theme, neutral, 35);
            width: 16px;
            height: 16px;
            top: -6px;
            left: -2px;
            z-index: 1;
          }

          &.is {
            &-pending {
              .icon {
                &-phase {
                  filter: grayscale(1) brightness(0.85);
                }
              }
            }
            &-completed {
              background-color: mat.get-theme-color(main.$theme, primary, 40);
              color: mat.get-theme-color(main.$theme, primary, 40);
              &:before {
                background-color: mat.get-theme-color(main.$theme, primary, 40);
              }
            }
          }
          &.has {
            &-error {
              background-color: mat.get-theme-color(main.$theme, error, 40);
              color: mat.get-theme-color(main.$theme, error, 40);
              &:before {
                background-color: mat.get-theme-color(main.$theme, error, 40);
              }
              .bar {
                @include mat.progress-bar-color(
                  main.$theme,
                  $color-variant: error
                );
              }
              .icon {
                &-phase {
                  filter: hue-rotate(256deg) saturate(9) grayscale(0.4);
                }
              }
            }
          }
          .icon {
            font-size: 20px;
            position: absolute;
            left: -4px;
            top: 12px;
            &-phase {
              width: calc(82px - 8px);
              height: 42px;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 40px;
              margin: auto;
            }
          }
          &-name {
            text-transform: uppercase;
            display: block;
            gap: $m-0;
            font-size: 15px;
            font-weight: 600;
            top: 14px;
            left: 0;
            max-width: 100%;
            padding-left: 20px;
            position: absolute;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}
