<div class="pipeline-run-output">
  <div class="progress-container scrollbar">
    <div class="progress">
      <div class="progress-bar">
        <div
          class="progress-bar-step"
          [ngClass]="{
            'has-error': item?.error,
            'is-completed': item?.completed,
            'is-pending': !item?.completed && !item?.error,
          }"
          *ngFor="let item of progress"
        >
          <mat-progress-bar
            class="bar"
            *ngIf="item.completed"
            [mode]="
              !item.error || !item.completed ? 'indeterminate' : 'determinate'
            "
            value="100"
          ></mat-progress-bar>
          <app-lottie
            class="icon-phase"
            [path]="item?.icon"
            [width]="iconPhaseSize"
            [height]="iconPhaseSize"
            [autoplay]="item.completed"
          />

          <mat-icon class="icon" *ngIf="item.error">warning</mat-icon>
          <mat-icon class="icon" *ngIf="!item.error && item.completed"
            >check_circle</mat-icon
          >
          <mat-icon class="icon" *ngIf="!item.completed && !item.error"
            >block</mat-icon
          >
          <span class="progress-bar-step-name">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <mat-card class="info">
      <div class="conitainer">
        <mat-tab-group class="tabs">
          <mat-tab *ngFor="let tab of detailTabs" [label]="tab.label">
            <section class="tab-content">
              <div [ngSwitch]="tab.key">
                <div *ngSwitchCase="'inputOutput'">
                  <mat-list class="link-list">
                    <a
                      *ngFor="let item of root.inputs"
                      class="item"
                      mat-list-item
                      [href]="item.value"
                    >
                      <h4 matListItemTitle>{{ item.name }}</h4>
                      <p matListItemLine>
                        {{ item.value }}
                      </p></a
                    >
                  </mat-list>
                  <mat-list class="link-list">
                    <a
                      *ngFor="let item of root.outputs"
                      class="item"
                      mat-list-item
                      [href]="item.value"
                    >
                      <h4 matListItemTitle>{{ item.name }}</h4>
                      <p matListItemLine>
                        {{ item.value }}
                      </p></a
                    >
                  </mat-list>
                </div>
                <div *ngSwitchCase="'details'">
                  <header>
                    <h3>Task Details</h3>
                  </header>
                  <mat-list class="link-list">
                    <mat-list-item>
                      <h4 matListItemTitle>Task ID</h4>
                      <p matListItemLine>
                        {{ root.id }}
                      </p>
                    </mat-list-item>
                    <mat-list-item>
                      <h4 matListItemTitle>Task Name</h4>
                      <p matListItemLine>
                        {{ root.name }}
                      </p>
                    </mat-list-item>
                    <mat-list-item>
                      <h4 matListItemTitle>Status</h4>
                      <p matListItemLine>
                        {{ root.status }}
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <div class="status">
                    <div class="row">
                      <div class="col col-datetime-title flex-start">
                        <h3>Started at</h3>
                        <div class="mark"></div>
                      </div>
                      <div class="col col-duration">
                        <div class="duration-bar"></div>
                      </div>
                      <div class="col col-datetime-title flex-end">
                        <h3>Finished at</h3>
                        <div class="mark"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div *ngIf="root.startedAt" class="col col-datetime">
                        <h3>
                          <span class="value">{{
                            root.startedAt | date: 'd/m/YYYY'
                          }}</span>
                        </h3>
                        <h3>
                          <span class="value">{{
                            root.startedAt | date: 'shortTime'
                          }}</span>
                        </h3>
                      </div>
                      <div class="col col-duration">
                        <div class="duration">
                          <h3>
                            <span class="label">Duration:</span
                            ><span class="value">{{ duration }}</span>
                          </h3>
                        </div>
                      </div>
                      <div *ngIf="root.finishedAt" class="col col-datetime">
                        <h3>
                          <span class="value">{{
                            root.finishedAt | date: 'd/m/YYYY'
                          }}</span>
                        </h3>
                        <h3>
                          <span class="value">{{
                            root.finishedAt | date: 'shortTime'
                          }}</span>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'logs'">
                  <ngx-monaco-editor
                    class="editor"
                    [options]="editorOpts"
                    [ngModel]=""
                  ></ngx-monaco-editor>
                </div>
                <div *ngSwitchCase="'events'">
                  <ngx-monaco-editor
                    class="editor"
                    [options]="editorOpts"
                    [ngModel]=""
                  ></ngx-monaco-editor>
                </div>
              </div>
            </section>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>
